<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proinlab.impression"
    android:versionCode="3"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name=".M00_Main"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".M01_Menu"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".M02_Canvas_SpenSDK"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".M03_PDF_CONVERT"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".M04_NOTE_SELECTOR"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".M02_Canvas"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
    </application>

</manifest>